<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Evangelos Tikas**

Data Scientist

*I am more than interested in data science because I want to implement and design AI solutions for the automotive industry. Through data science I can properly process large
datasets from any source, aiming towards better deep learning solutions and algorithm optimizations.*

### In Cell 5 there is a very simple and clear form of adding through iteration

In [2]:
for i in range(5):
    a = i+1
    print(a)

1
2
3
4
5

> This is a very long blockquote for initializing a table

Table


Markdown | Less | Pretty
--- | --- | ---
*Still* | `renders` | **nicely**
1 | 2 | 3


So...

---

Hyphens

***

* Unordered list 
- Name: Evangelos
+ Last Name: Tikas

[linkedin](www.linkedin.com/in/evangelos-tikas-a795a1172)